<!DOCTYPE HTML>
<html>

{{> templates/_head}}

<body>

{{> templates/_header}}

{{#items}}
  <article class="center mw6 bb pv2 stripe-dark">
    <a href="{{path}}" class="db link black dim pv3 ph1">
      <div class="fr ml2">
        {{#custom}}
          <div class="tr">
            <span class="dib ba pa1 b--{{categorieCouleur}} bg-{{categorieCouleur}} white br-pill">
              {{categorie}}
            </span>
          </div>
        {{/custom}}

        {{#libelleGeographique}}
          <div class="mt1 tr">
            {{libelleGeographique}}
          </div>
        {{/libelleGeographique}}
      </div>
      <h2 class="f5 mt0 mb2 lh-solid">
        {{titre}}
      </h2>
      <div class="b--black-10 f6">
        <p class="i mt0">
          publié le {{date_diffusion_lisible}}
        </p>

        <p class="f6 f5-ns lh-copy measure">
          {{sous_titre}}
        </p>
      </div>
      <div class="cb"></div>
    </a>
  </article>
{{/items}}

<div class="center tc mv3">
  <p>
    page
  </p>
  <ul class="list">
    {{#first_page}}
      <li class="dib">
        <a href="{{path}}" class="dib">
          {{num}}
        </a>
      </li>
      <li class="dib">...</li>
    {{/first_page}}

    {{#pages_before}}
      <li class="dib">
        <a href="{{path}}">
          {{num}}
        </a>
      </li>
    {{/pages_before}}

    <li class="dib b">
      {{page}}
    </li>

    {{#pages_after}}
      <li class="dib">
        <a href="{{path}}" class="dib">
          {{num}}
        </a>
      </li>
    {{/pages_after}}

    {{#last_page}}
      <li class="dib">...</li>
      <li class="dib">
        <a href="{{path}}" class="dib">
          {{num}}
        </a>
      </li>
    {{/last_page}}
  </ul>
</div>

{{> templates/_footer}}

</body>

</html>