<!DOCTYPE HTML>
<html>

{{> templates/_head}}

<body>

{{> templates/_header}}

<div class="center mw6">
  <div class="measure lh-copy">
    {{{content}}}
  </div>
</div>

{{> templates/_footer}}

</body>

</html>