scrapy-project/*.json
scrapy-project/build
scrapy-project/project.egg-info/
.vscode
*.pyc
*.DS_Store
.env
www/build
tmp
__pycache__

api/.bundle
api/log/*
api/tmp/*
!api/log/.keep
!api/tmp/.keep
api/.byebug_history
api/config/master.key
api/.ruby-gemset
