<nav class="w-100 bt mt4 bg-near-white pa3 ph5-m ph1">
  <div class="tc f4 mb3 code">
    Insee-Brut
  </div>
  <div class="mw6 center flex justify-between">
    <div>
      <a class="black link dim" href="/index.html" title="Home">
        Home
      </a>
    </div>
    <div>
      <a class="link dim black" href="about.html" title="Contact">
        À Propos
      </a>
    </div>
    <div>
      <a class="link dim black" href="https://github.com/adipasquale/insee-brut" title="Contact">
        GitHub
      </a>
    </div>
  </div>
</nav>