<nav class="w-100 bb pa3 ph5-m bg-near-white">
  <div class="mw6 ph1 center flex justify-between">
    <div>
      <a class="black items-start link dim f4 code" href="/index.html" title="Home">
        Insee-Brut
      </a>
    </div>
    <div class="">
      <a class="link dim dark-gray" href="about.html" title="Contact">
        À Propos
      </a>
    </div>
  </div>
</nav>