<head>
  <meta charset="utf-8" />
  <title>INSEE Brut</title>
  <link href='/tachyons-4.11.1.css' rel='stylesheet' type='text/css'>
  <link href='/insee.css' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
