<!DOCTYPE HTML>
<html>

{{> templates/_head}}

<body>

{{> templates/_header}}

<div class="ph3">
  {{#item}}
    <article class="center mw6 mv4">

      <div class="fr mv3">
        <span class="dib ba pa1 b--purple bg-purple white br-pill">
          {{insee_type}}
        </span>
      </div>

      <h1>{{titre}}</h1>

      <p class="i">
        publié le {{date_diffusion_lisible}}
      </p>

      <div>
        Collection :
        <span class="dib ba pa1 br-pill">
          {{collection}}
        </span>
      </div>

      <div>
        Libellé Géographique :
        <span class="dib ba pa1 br-pill">
          {{libelle_geographique}}
        </span>
      </div>

      <div>
        Numéro {{numero}}
      </div>

      <div>
        Auteur·e·s: {{auteur}}
      </div>

      {{#sous_titre}}
        <p class="f6 f5-ns lh-copy measure">
          {{sous_titre}}
        </p>
      {{/sous_titre}}

      {{#chapo}}
        <p class="f6 f5-ns lh-copy measure">
          <h3>Chapeau</h3>
          {{chapo}}
        </p>
      {{/chapo}}

      {{#pdf_url}}
        <div>
          <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-purple" href="{{pdf_url}}">
            Télécharger la version imprimable (PDF)
          </a>
        </p>
      {{/pdf_url}}

      {{#tableaux_data_url}}
        <div>
          <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-purple" href="{{tableaux_data_url}}">
            Télécharger les données des tableaux (XLS)
          </a>
        </div>
      {{/tableaux_data_url}}

      {{#contenu_html}}
        <div class="bg-near-white mt3 pv3 contenu contenu_html">
          {{{contenu_html}}}
        </div>
      {{/contenu_html}}

    </article>
  {{/item}}
</div>

{{> templates/_footer}}

</body>

</html>