insee.pw {
    root /var/www
    tls adrien@dipasquale.fr
    git https://github.com/adipasquale/insee-brut /var/caddy_git_repos/insee-brut {
        interval 300
        hook /github_hook [secret]
    }
    gzip
    proxy /admin localhost:8000 {
        transparent
    }
    redir 301 {
        if {scheme} is http
        /  https://{host}{uri}
    }
    log /var/log/access.log
}
