<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <title>INSEE Brut</title>
  <link href='/tachyons-4.11.1.css' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<nav class="db dt-m w-100 bb border-box pa3 ph5-m">
  <a class="db dtc-m v-mid mid-gray link dim w-100 w-25-m tc tl-m mb2 mb0-m" href="index.html" title="Home">
    INSEE Brut
  </a>
  <div class="db dtc-m v-mid w-100 w-75-m tc tr-m">
    <a class="link dim dark-gray f6 f5-m dib" href="#" title="Contact">A Propos</a>
  </div>
</nav>

{{#item}}
  <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
    <h1 class="f4 bg-near-white br3 br--top black-90 mv0 pv2 ph3">{{titre}}</h1>
    <div class="pa3 bt b--black-10">

      <div class="fr">
        <span class="dib ba pa1 b--purple bg-purple white br-pill">
          {{insee_type}}
        </span>

        <span class="dib ba pa1 br-pill">
          {{libelle_geographique}}
        </span>
      </div>

      <p class="i">
        publié le {{date_diffusion_lisible}}
      </p>

      <p class="f6 f5-ns lh-copy measure">
        {{sous_titre}}
      </p>
    </div>
  </article>
{{/item}}

</body>

</html>